* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    font-size: .75rem;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #F3F3F3;
}

input {
    outline: none;
}

nav {
    max-width: 95%;
    margin-inline: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 1.25rem;
    font-weight: 500;
}

input {
    padding-block: .5rem;
    width: 8rem;
    border-radius: 1.25rem;
    border: .0625rem solid white;
    box-shadow: 0 0 .125rem rgba(0, 0, 0, 0.382);
    text-align: center;
}

input:focus {
    border: .0625rem solid rgba(0, 0, 0, 0.223);

}

img {
    height: 3.25rem;
}

.btns {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

button {
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}

main {
    opacity: 0;
    margin-top: 4rem;
    width: 75%;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

p span {
    color: #888;
    font-size: .875rem;
}

.trans {
    width: 55%;
    overflow-y: auto;
    max-height: 31.25rem;
}

.balance {
    font-size: 3.25rem;
    font-weight: 400;
}

.element {
    background-color: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #44444432 .0625rem solid;
    padding: 1.5rem;
}

.label {
    display: inline-block;
    font-size: .75rem;
    color: white;
    padding: .125rem .5rem;
    border-radius: .75rem;
}

.green {

    background-color: #53BF7A;
}

.green-fnt {
    margin-left: .25rem;
    font-size: 1.25rem;
    color: #53BF7A;
}

.red {

    background-color: #E9315B;
}

.red-fnt {
    margin-left: .25rem;
    font-size: 1.25rem;
    color: #E9315B;
}

.date {
    font-size: .75rem;
    margin-left: .75rem;
}

.ctrl {
    display: flex;
    justify-content: space-between;
}

.element .balance {
    font-size: 1.5rem;
}

.action {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: .75rem;

}

.transfer .action,
.close .action {
    grid-template-columns: 1fr 1fr 1fr;

}

.loan .action {
    grid-template-columns: 1fr 1fr;

}

.actions {
    height: 31.25rem;
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.transfer,
.loan,
.close {
    padding: 1.25rem;
    height: calc(29.375rem/3);
    border-radius: 1.125rem;
}

.actions h2 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.transfer {
    background-color: #FFC703;
}

label {
    font-size: .875rem;
}

.actions input {
    width: 100%;
    border-radius: .4375rem;
    background-color: #ffffff7c;
    outline: none;
    border: 0rem;
    font-size: 1rem;
    height: 1.875rem;

}

.actions input:focus {
    background-color: #ffffffbc;

}

.action button {
    justify-self: start;
    background-color: #fff;
    border-radius: .4375rem;
    height: 1.875rem;
    font-size: 1.25rem;
    padding-inline: .75rem;
}

.loan {
    background-color: #51BE7A;
}

.close {
    background-color: #F4445D;
}

footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    gap: 1.875rem;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


ul button {
    transition: all 0.3s;
    font-size: 1rem;
}

ul button:hover {
    color: #444444d8;
}

footer p {
    font-size: .75rem;
}

footer p>span {
    font-weight: 700;
}